* {
    padding: 0px;
    margin: 0px;
}

 

 .content {
     color: white;
     padding-top: 100px;
     min-height: 250px;
     text-align: center;
     
 }
 .discription{
     width: 90%;
     max-width: 960px;
     margin: 0 auto;
 }

#nav {
    font-size: 0px;
    background-color:forestgreen;
   
}

#nav li {
    list-style-type: none;
    font-size: 0px;
    display: inline;
    position: relative;

}

#nav li a {
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 7px 10px;
    
    width: 100px;
}

#nav li a:hover {
    background-color: black;
    
}

#nav li ul {
    position: absolute;
    background-color: gray;
    left: 0px;
}

#nav li ul li {
    display: none;

}

#nav li:hover ul li {
    display: block;
}

#nav li ul li ul {
    position: absolute;
    left: 120px;
    top: 15px;
    display: none;
}

#nav li ul li:hover ul {
    display: block;
}
#combox {
    float: right;
    margin-right: 50px;

}
h1{
        font-size: 36px;
        line-height: 46px;
        color: #e0e0e0;
}
.summary{
    color: #d9dee2;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 1.5em;
}
.button{
    text-decoration: none;
    display: inline;
    border: 2px solid white;
    padding: 10px;
    max-width: 200px;
    color: white;
    background-color: gray;
    border-radius: 3px;
    margin-top: 50px;
}
.discription a:hover{
background-color: black;
}
.article{
    background-color:lightsteelblue;
}
.article h1{
    color: black;
    margin-left: 250px;
    padding-top: 40px;
}
.article h2{
    margin-left: 250px;
}
.article h2 a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
.article p{
    margin: 20px 0px;
    padding: 0px 250px;
    font-size: 1.3em;
}